
     body{
            font-size: x-large;
            color: antiquewhite;
            margin: 20px;
     }
    div{
        background:linear-gradient(45deg,rgb(197, 13, 210),rgba(21, 18, 195, 0.61));
        margin: auto;
        box-shadow: 0 0 10px black;
        width: fit-content;
        padding: 20px;
        border-radius: 10px;
        color: antiquewhite;
    }
    #nameInput,#emailInput,#genderSelect,#dobInput{
        height: 40px;
        width:320px;
        display: block;
    }
    button{
        height: 40px;
        width:320px ;
        background-color:purple;
        font-size: x-large;
        
      }
      h3{
        text-align: center;
      }
      form{
        margin: 20px;
      }
   